<li data-name="teachers" class="layui-nav-item">
    <a href="javascript:;" lay-tips="教师功能" lay-direction="2">
        <i class="layui-icon layui-icon-group"></i>
        <cite>教师功能</cite>
        <span class="layui-nav-more"></span>
    </a>
    <dl class="layui-nav-child">
        <dd><a lay-href="stuInfo/stuInfo_list">分类查询</a></dd>
        <dd><a lay-href="javascript:;">考勤信息</a></dd>
        <dd><a lay-href="javascript:;">成绩信息</a></dd>
        <dd>
            <a lay-href="javascript:;">模拟面试</a>
            <dl class="layui-nav-child">
                <dd><a lay-href="javascript:;">模拟面一</a></dd>
                <dd><a lay-href="javascript:;">模拟面二</a></dd>
                <dd><a lay-href="javascript:;">模拟面三</a></dd>
            </dl>
        </dd>
        <dd><a lay-href="javascript:;">项目答辩</a></dd>
        <dd><a lay-href="javascript:;">学生成绩</a></dd>
        <dd><a lay-href="javascript:;" target="_blank">学员预警</a></dd>
        <dd><a lay-href="javascript:;" target="_blank">访谈信息</a></dd>
        <dd><a lay-href="javascript:;" target="_blank">学习报告</a></dd>
        <dd><a lay-href="javascript:;">异动信息</a></dd>
        <dd><a lay-href="javascript:;">教室信息</a></dd>
    </dl>
</li>
<li data-name="income" class="layui-nav-item">
    <a href="javascript:;" lay-tips="增值业务" lay-direction="2">
        <i class="layui-icon layui-icon-rmb"></i>
        <cite>增值业务</cite>
        <span class="layui-nav-more"></span>
    </a>
    <dl class="layui-nav-child">
        <dd><a lay-href="javascript:;">口碑信息</a></dd>
        <dd><a lay-href="javascript:;">证书增值</a></dd>
        <dd><a lay-href="javascript:;">学历增值</a></dd>
        <dd><a lay-href="javascript:;">学历信息</a></dd>
    </dl>
</li>
<li data-name="manage" class="layui-nav-item">
    <a href="javascript:;" lay-tips="系统管理" lay-direction="2">
        <i class="layui-icon layui-icon-set"></i>
        <cite>系统管理</cite>
        <span class="layui-nav-more"></span>
    </a>
    <dl class="layui-nav-child">
        <dd>
            <a lay-href="javascript:;">用户管理</a>
        </dd>
        <dd>
            <a lay-href="javascript:;">角色管理</a>
        </dd>
        <dd>
            <a lay-href="javascript:;">岗位管理</a>
        </dd>
        <dd>
            <a lay-href="javascript:;">部门管理</a>
        </dd>
        <dd>
            <a lay-href="javascript:;">菜单管理</a>
        </dd>
        <dd>
            <a lay-href="javascript:;">日志管理</a>
            <dl class="layui-nav-child">
                <dd><a lay-href="javascript:;">登录日志</a></dd>
                <dd><a lay-href="javascript:;">操作日志</a></dd>
            </dl>
        </dd>
    </dl>
</li>