<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tedu.sois.sys.dao.SysDeptDao">
 <!-- 基于部门id查询部门信息 -->
   <select id="selectDeptInfoById" resultType="com.tedu.sois.sys.entity.SysDept">
          select * from sys_dept
          where dept_id=#{deptId}
   </select>
   
   <update id="updateDeptInfo"
       parameterType="com.tedu.sois.sys.entity.SysDept">
         update sys_dept
         set
           dept_name=#{deptName},
           sort=#{sort},
           note=#{note},
           parentId=#{parentId},
           modifiedUser=#{modifiedUser},
           modifiedTime=now()
        where dept_id=#{deptId}
    </update>
    
    <insert id="insertDeptInfo"
            parameterType="com.tedu.sois.sys.entity.SysDept">
         insert into sys_dept
         (dept_name,sort,note,parentId,created_time,modified_time,created_user,modified_user)
         values
         (#{deptName},#{sort},#{note},#{parentId},now(),now(),#{createdUser},#{modifiedUser})
    </insert>
   
</mapper>




