<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tedu.sois.stu.dao.StuInfoHandleDao">

    <sql id="queryWhereId">
        from stu_base_info
        <where>
            <if test="classRoom!=null and classRoom!=''">
                class_room=#{classRoom}
            </if>
            <if test="classRoom!=null and classRoom!='' and stuName!=null and stuName!=''">
                and
            </if>
            <if test="stuName!=null and stuName!=''">
                stu_name like concat(concat('%',#{stuName},'%'))
            </if>
            <if test="(stuName!=null and stuName!='' and stuClass!=null and stuClass!='')
                    or (classRoom!=null and classRoom!='' and stuClass!=null and stuClass!='')">
                and
            </if>
            <if test="stuClass!=null and stuClass!=''">
                stu_class like concat(concat('%',#{stuClass},'%'))
            </if>

        </where>
    </sql>

    <select id="getRowCount" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(stu_id)
        <include refid="queryWhereId"/>
    </select>

    <select id="selectPageStuNameOrStuClassOrClassRoom" resultType="com.tedu.sois.stu.entity.StuBaseInfo">
        select *
        <include refid="queryWhereId"/>
        order by stu_class,
        FIELD(education_background,'初中','高中','高职',"大专",'三本','二本','普通一本','一本(985或211)','硕士')
        limit #{startIndex},#{pageSize}
    </select>

</mapper>